.navbarContainer {
    height: 150px;
    width: 100%;
    background-image: url("../../../../assets/navbar.jpg"); 
    background-position: center;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
}

.navbarLeft {
    flex: 1;
    box-sizing: content-box;
    height: 150px;
}

.logo {
    font-size: 60px;
    padding: auto;
    margin-left: 2vw;
    font-style: sans-serif;
    font-style: italic;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.navbarRight {
    flex: 1;
    flex-wrap: nowrap;
}

.nav-item,
.navbar{
    float: right;
    display: block;
    font-size: 25px;
    padding: 10px;
    margin: 50px;
    text-decoration: none;
    color: white;
    font-style: sans-serif;
    font-style: italic;
}